h1{
    text-align: center;
    font-size: 30px;
    color: darkblue;
    background-color: aqua;

}

p{
    text-align: left;
    font-size: 18px;
    color: blue;
    font-style: italic;
    border-style: solid;
    border-width: thin;
    border-color: blue;
}
